{{!
This file is part of Pa11y Dashboard.

Pa11y Dashboard is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Pa11y Dashboard is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Pa11y Dashboard.  If not, see <http://www.gnu.org/licenses/>.
}}
<footer>
	<div class="footer">
		<div class="container">
			<div class="col-md-5">
				<small>&copy; 2013–{{year}} Team Pa11y.<br/>Pa11y Dashboard jest wydany na licencji GNU General Public License 3.0.<br/>Wersja {{version}}</small>
			</div>
			<div class="col-md-7 clearfix">
				<ul class="crunch-bottom floated-list nav">
					<li>
						<a href="{{repo}}">Repozytorium GitHub</a>
					</li>
					<li>
						<a href="{{bugtracker}}">Bug Tracker</a>
					</li>
					<li>
						<a href="https://www.w3.org/Translations/WCAG21-pl/">WCAG 2.1</a>
					</li>
					<li>
						<a href="https://www.irdpl.pl/HTML_CodeSniffer/">HTML_CodeSniffer po polsku</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</footer>
