{{!
This file is part of Pa11y Dashboard.

Pa11y Dashboard is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Pa11y Dashboard is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Pa11y Dashboard.  If not, see <http://www.gnu.org/licenses/>.
}}

{{#content "title"}}
	Pulpit Pa11y - Wyniki {{task.name}} - ({{task.standard}})
{{/content}}

{{#added}}
	<div class="col-md-12 clearfix" data-test="alert">
		<div class="alert alert-success">
			<button data-dismiss="alert" class="close" type="button" aria-label="Zamknij">×</button>
			<strong>Dzieje się!</strong>
			<p>Nowy adres URL został dodany.</p>
		</div>
	</div>
{{/added}}

{{#running}}
	<div class="col-md-12 clearfix" data-test="alert">
		<div class="alert alert-success">
			<button data-dismiss="alert" class="close" type="button" aria-label="Zamknij">×</button>
			<strong>Nadchodzą nowe wyniki!</strong>
			<p>
				W tle generowane są nowe wyniki dla tego adresu URL.
				Może to potrwać do minuty.
			</p>
		</div>
	</div>
{{/running}}

{{#ruleIgnored}}
	<div class="col-md-12 clearfix" data-test="alert">
		<div class="alert alert-success">
			<button data-dismiss="alert" class="close" type="button" aria-label="Zamknij">×</button>
			<strong>Wymaganie zignorowane!</strong>
			<p>
				Masz zignorowane wymagania dostępności dla tego adresu URL.
				<a href="{{task.hrefRun}}">Wybierz, aby wygenerować wyniki z wyłączoną regułą ignorowania.</a>
			</p>
		</div>
	</div>
{{/ruleIgnored}}

{{#ruleUnignored}}
	<div class="col-md-12 clearfix" data-test="alert">
		<div class="alert alert-success">
			<button data-dismiss="alert" class="close" type="button" aria-label="Zamknij">×</button>
			<strong>Bez ignorowanych wymagań!</strong>
			<p>
				Usunąłeś zignorowaną regułę dostępności dla tego adresu URL.
				<a href="{{task.hrefRun}}">Wybierz, aby ponownie wygenerować wyniki z uwzględnieniem ignorowania wymagań</a>
			</p>
		</div>
	</div>
{{/ruleUnignored}}

{{> task-header}}

{{#if results}}

	{{#unless hasOneResult}}
		{{> graph}}
	{{/unless}}

{{/if}}

{{#if mainResult}}
	{{> result}}
{{else}}
	<div class="col-md-12" data-test="alert">
		<div class="alert alert-info">
			<h4>Nie ma jeszcze żadnych wyników</h4>
			<p>Pa11y nie został jeszcze uruchomiony dla tego adresu URL, więc nie ma żadnych wyników do pokazania..</p>
			<p><a href="{{task.hrefRun}}">Wybierz, aby wygenerować wyniki dla tego adresu URL</a>.</p>
		</div>
	</div>
{{/if}}
